.swiper .swiper-pagination-bullet {
  transform-origin: center;
  background-color: transparent;
  border: 1px solid #35302D;

}
.swiper .swiper-pagination-bullet-active {
  background-color: #35302D; 
  border-color: transparent; 
}

.swiper-button-next:after {
  color: #35302D;
  transform: scale(0.5);
}

.swiper-button-prev:after {
  color: #35302D;
  transform: scale(0.5);
}